---
import { Editor } from "@/components/Editor";
import Layout from "@/layouts/Layout.astro";
import { getAuthData } from "@/utils/auth";

const { isAuthed } = getAuthData(Astro.cookies);
if (!isAuthed) return Astro.redirect("/login");
---

<Layout title="">
  <div class="flex w-full flex-col gap-1">
    <Editor post={undefined} client:load />
  </div>
</Layout>
