---
import { Editor } from "@/components/Editor";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="">
  <div class="flex w-full flex-col gap-1">
    <Editor client:load />
  </div>
</Layout>
