---
import { Editor } from "@/components/Editor";
import Layout from "@/layouts/Layout.astro";
import { getAuthData } from "@/utils/auth";
import { getPost } from "@/utils/db";

const { id } = Astro.params;
const { isAuthed } = getAuthData(Astro.cookies);
if (!id) return Astro.redirect("/");
if (!isAuthed) return Astro.redirect("/login");

const post = await getPost(id);
---

<Layout title="">
  <div class="flex w-full flex-col gap-1">
    <Editor post={post} client:load />
  </div>
</Layout>
