---
import Layout from "@/layouts/Layout.astro";
import { getPost } from "@/utils/db";
import { marked } from "marked";

const { id } = Astro.params;
if (!id) return Astro.redirect("/");

const post = await getPost(id);
if (!post) return Astro.redirect("/");

const title = post.title;
const content = marked.parse(post.content);
---

<Layout title="">
  <div class="flex w-full flex-col gap-1">
    <p class="text-2xl font-bold">{title}</p>
    <article class="prose prose-stone dark:prose-invert" set:html={content} />
  </div>
</Layout>
