---
---

<div class="flex w-full flex-wrap items-end py-4">
  <a
    href="/"
    class="flex gap-2 text-lg font-extrabold tracking-tight hover:text-sky-500"
  >
    <div class="relative h-7 w-7">
      <img src="/favicon.svg" alt="f" class="h-full w-full" />
    </div>
    Decompressed Poems
  </a>
  <div class="ml-auto flex flex-wrap gap-10 font-semibold">
    <a href="/" class="hover:text-sky-500"> posts</a>
    <a href="/post/about" class="hover:text-sky-500"> about</a>
  </div>
</div>
